[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RandomWalkRestartMH"]
	path = RandomWalkRestartMH
	url = https://github.com/alberto-valdeolivas/randomwalkrestartmh
